

.container {
    display: inline-flex;
}

.navLink {
    margin: 10px;
}

.basicContainer {
    width:300px;
    margin-left: 40px;
}



.secondContainer {
    width: 300px;
    margin-left: 250px;
}

.tableRows {
    width: 70%;
}

.rootDom {
    margin: auto;
    width: 50%;
}
