body {
    background-color: #ecececd2;
}

.container {
    margin: auto;
    width: 100%;
    text-align: center;
}

.navLink {
    text-align: center;
    padding: 5px;
    margin: auto;
}


#calendarTypeChange {
    display: none;
}

#cl-hourlinesContainer {
    display: none;
}

#subTitle {
    display: none;
}
 
.header {
    height: 30px;
    padding-bottom: 0px;
}


#hhHeader {
    font-size: 15px;
}

.rw-box {
    display: block; 
    font-size: 12px;
    margin-right: 0.5rem; 
}

.range {
    display: none;
}

.info {
    display: none;
}
.rw-today {
    display: flex;
}
.rw-box-right {
    display: none;
}

.rw-box-left {
    display: flex;
    
}

.desc {
    margin-left: 0.5rem;
}

.current {
    margin-left: 0.5rem;
}

.date {
    display: none;
}

.rw-today {
    margin-left: 0.5rem; 
}
.rw-box h2 {
    font-size: 12px;
}

#lukkari {
    text-align: center;
    margin: auto;
    width: 100%;
}

#weekCal {
    width: 100%;
    border: 2px solid #b7d8e5;
}

    .lukkariForm {
        text-align: center;
        margin: auto;
    }
    .cl-time
    {
        height:40px;

    }
    

.navImg {
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin: auto;
    border: 2px solid #b7d8e5;

}

.calenderContainer Button {
    margin: 5px;
}

.toggleButton {
    margin-top: 20px;
  }

  #loggingHelpText {
      display: none;
  }

  .rightContainer {
    margin: auto;
    width: 100%;
}

.leftContainer {
    margin: auto;
    width: 95%;
}
.commonLinks {
    margin-top: 20px;
}

.calender {
    border-radius: 6px;

}

.table {
    border-radius: 6px;
}

/* @media only screen and (max-width: 1750px) {
    .container {
        display: grid;
    }
} */

@media only screen and (min-width: 768px) {

    

    .rootDom {
        margin: auto;
        width: 60%;
    }

    .container {
        text-align: left;
        display: flex;
    }

    .rightContainer {
        margin-top: 0px;
        margin: 0px;
        width:70%;
    }

    .leftContainer {
        width: 100%;
        margin-left: 0px;
    }
    .table {
        margin-top: 1rem; 
        border: 2px solid #b7d8e5;

    }

    .rw-box {
        display: block;
        margin-top: 15px; 
        font-size: 15px;
    }

    .range {
        display: none;
    }
    
    .info {
        display: none;
    }
    .rw-today {
        display: flex;
    }
    .rw-box-right {
        display: none;
    }

    .rw-box-left {
        display: flex;
        
    }

    .desc {
        margin-left: 2rem;
    }

    .current {
        margin-left: 2rem;
    }

    .date {
        display: block;
    }

    .rw-today {
        margin-left: 2rem; 
    }
    .rw-box h2 {
        font-size: 20px;
    }
    
    #hhHeader {
        font-size: 25px;
    }

    #loggingHelpText {
        display: block;
        margin-top: 1rem;
    }

    .commonLinks {
        width: 10rem;
        border: 2px solid #b7d8e5;
        text-align: center;
    }
    
    .calender {
        border: 2px solid #b7d8e5;
    }

    .navImg {
            width: auto;
            height: auto;
            transition: transform .3s;
            border: 2px solid #b7d8e5;
    }

    .navImg:hover {
        transform: scale(0.90);
    }

    .headerForLunchAndParties {
        margin-bottom: 1rem; 
    }

    .cool-link {
        display: inline-block;
        text-decoration: none;
    }

    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(53, 154, 146);
        transition: width .3s;
    }

    .navLink {
        margin: 3px;
        padding: 15px;
    }

    .cool-link:hover::after {
        width: 100%;
        transition: width .3s;
    }


    .dietsStyle {
        font-size: 12px;
    }

    .calenderContainer Button {
        margin: 5px;
    }

    a:link {
        text-decoration: none;
    }

  td {
      font-size: 15px;
    }

  .toggleButton {
      margin-bottom: 2rem; 
      display: flex;
    }

    .logOutButton {
        margin-bottom: 1rem;
    }
}