body {
    background-color: #ecececd2;
}

.container {
    margin: auto;
    width: 95%;
    text-align: center;
}

.navLink {
    text-align: center;
    padding: 5px;
    margin: auto;
}


#calendarTypeChange {
    display: none;
}

#cl-hourlinesContainer {
    display: none;
}

#subTitle {
    display: none;
}
 
.header {
    height: 30px;
    padding-bottom: 0px;
}

.navImg {
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin: auto;
    border: 2px solid #b7d8e5;

}

.calenderContainer Button {
    margin: 5px;
}

.toggleButton {
    margin-top: 20px;
  }

  #loggingHelpText {
      display: none;
  }

  .rightContainer {
    margin: auto;
    width: 95%;
}

.leftContainer {
    margin: auto;
    width: 95%;
}
.commonLinks {
    margin-top: 20px;
}

.calender {
    border-radius: 6px;

}

.table {
    border-radius: 6px;
}
@media only screen and (min-width: 768px) {

    .rootDom {
        margin: auto;
        width: 60%;
    }

    .container {
        margin: auto;
        text-align: left;
    }

    .rightContainer {
        width: 60%;
        margin-top: 0px;
    }

    .leftContainer {
        width: 40%;
        margin-top: 0px;
        padding: 0px;
        margin: 0px;
    }
    .table {
        margin-top: 1rem; 
        border: 2px solid #b7d8e5;

    }

    
    #loggingHelpText {
        display: block;
        margin-top: 1rem;
    }

    .commonLinks {
        width: 10rem;
        border: 2px solid #b7d8e5;
        text-align: center;
    }
    
    .calender {
        border: 2px solid #b7d8e5;
    }

    .navImg {
            width: auto;
            height: auto;
            transition: transform .3s;
            border: 2px solid #b7d8e5;
    }

    .navImg:hover {
        transform: scale(0.90);
    }

    .headerForLunchAndParties {
        margin-bottom: 1rem; 
    }

    .cool-link {
        display: inline-block;
        text-decoration: none;
    }

    .cool-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(53, 154, 146);
        transition: width .3s;
    }

    .navLink {
        margin: 3px;
        padding: 15px;
    }

    .cool-link:hover::after {
        width: 100%;
        transition: width .3s;
    }


    .dietsStyle {
        font-size: 12px;
    }

    .calenderContainer Button {
        margin: 5px;
    }

    a:link {
        text-decoration: none;
    }

  td {
      font-size: 15px;
    }

  .toggleButton {
      margin-bottom: 2rem; 
      display: flex;
    }

    .logOutButton {
        margin-bottom: 1rem;
    }
}