
#lukkari {
    width: 100%;
  }
  
  .lukkariForm {
    display: flex;
  }
  
  #groupInput {
    width: 100px;
  }
  
  
   
  .ui-datepicker 
  {
      z-index:20000;
  }
  
  
  
  #cl-maincal
  {
      width:100%;
  
  }
  
  td
  {
      vertical-align:top;
  
  }

  #hbv {
      display: none;
  }
  
  #weekCalDays
  {
      width:100%;
      table-layout:fixed;
         
  }
  
  #weekCalDays .resourceInfo,#weekCal .resourceInfo
  {
      color:#000;
  
  }
  
  
  #weekCal, #dayCal
  {
      table-layout:fixed;
        background-color: #ebebeb;
        overflow-y: hidden;
        pointer-events: none
  }
  
  
  tr.cl-Days {
    font-weight:bold;
  }
  
  
  
  
  
  
  .cl-timeCol
  {  
  
      padding:0;
      width:30px;
      font-size: 1em;
      border-bottom: 1px dotted #000;
  }
  
  .nd.today {
      background-color: #55bbdd;
      
  }

  .cl-col.nd {
      padding: 0px;
  }
  
  .nd {
    width: 180px;
    padding: 0px;
    margin: 0px;
}
  
  .we {
      width:100px;
  }
  
  #weekCal td,
  #dayCal td
  {
      border-right:1px solid #b7d8e5;
      border-bottom:1px solid #b7d8e5;
  
  }
  
  #weekCal .saturday,
  #weekCal .sunday
  {
      background:#EEE;
  
  }
  
  .cl-Days td,
  #dayTitle
  {
  color:#000;
      text-align:center;
      padding:4px 0;
     font-size:0.7em;
      
  
  }
  
  
  .cl-colevents
  { 
      font-size:.7em;
      cursor:default;
      position:relative;
      width:100%;
      padding:0;
      margin:0;
  }


  .cl-event
  {   
   border: 1px solid #000;
   position:absolute;
   cursor:default;
   overflow:hidden;
   left:0%;
   padding:0;
   margin:0;
   z-index:1;
  }
  .cl-event p {
    
    padding:.1em;
  }
  .cl-event .b,
  .cl-m-event .b
  {
      background:#94A2BE;
      margin:1px;
  
   /*   background:#c5dbea;
      color:#2E4F75;
  */
  
  }
  
  
  .cl-event dt
  {
      font-weight:bold;
  
  
  }
  
  .unconfirmed
  {
      background:#CCC !important;
      color:#666;
  }
  
  
  
  
  
  
  .cl-event-dl
  {
  
      margin:.1em;
    
  }
  
  .cl-m-event
  {
  
      background:#4C79A2;
  
  
  
      margin:1px;
      font-size:12px;
      /*max-height:150px;*/
      overflow:hidden;
  
  
  }
  
  .dummyEvent
  {
      height:80px;
      margin:4px;
      padding:1px;
  }
  
  .continues
  {
      margin-right:0;
      margin-left:0;
  
  }
  
  .first
  {
      margin-left:4px;
  
  }
  
  .last
  {
      margin-right:4px;
  
  }
  
  
  .cl-time
  {
      height:45px;
  
  }
  
  
  
  #weekCal
  {
      border:2px solid #b7d8e5;
      height:500px;
      table-layout:fixed;
  }
  
  
  
  .cl-colevents
  {
      cursor:default;
      position:relative;
      
  }
  
  .cl-hline
  {
      height:25px;
  
      
  }
  
  
  
  #cl-hourlinesContainer
  {
      position:relative;
      top:1px;
  
  }
  
  #cl-hourlines
  {
      position:absolute;
      width:100%;
  }
  
  




#searchButton {
  height: 40px;
  margin-left: 1rem; 
  margin-top: 0px; 

}

#groupInput {
    width: 100px;
    margin-left: 1rem; 
  }
 
.ui-datepicker 
{
    z-index:20000;
}



#cl-maincal
{
    width:100%;

}

td
{
    vertical-align:top;

}

#weekCalDays
{
    width:100%;
    table-layout:fixed;
   	
}

#weekCalDays .resourceInfo,#weekCal .resourceInfo
{
    color:#000;

}


#weekCal, #dayCal
{
    width:100%;
    table-layout:fixed;
    min-width:200px;
background-color: #ebebeb;  
}


tr.cl-Days {
  font-weight:bold;
}






.cl-time
{  

    padding-right:5px;
    margin-right: 5px;
    width:30px;
}

.nd.today {
    background-color: #b7d8e5;
    
}

.nd {
    width: 130px;
}

.we {
    width:100px;
}

#weekCal td,
#dayCal td
{
    border-right:1px solid #999;
    border-bottom:1px solid #999;

}

#weekCal .saturday,
#weekCal .sunday
{
    background:#EEE;

}

.cl-Days td,
#dayTitle
{
color:#000;
    text-align:center;
    padding:4px 0;
   font-size:0.7em;
	

}


.cl-colevents
{ 
    font-size:.7em;
    cursor:default;
    position:relative;
    width:100%;
    padding:0;
    margin:0;
}

.cl-time
{
    border-bottom:1px dotted #000;
    font-size:.7em;
    color:#666;
    margin-left: -7px;     
    font-weight: bold;
}

.cl-event
{   
 border: 1px solid #000;
 position:absolute;
 cursor:default;
 overflow:hidden;
 left:0%;
 padding:0;
 margin:0;
 z-index:1;
}
.cl-event p {
  
  padding:.1em;
}
.cl-event .b,
.cl-m-event .b
{
    background:#94A2BE;
    margin:1px;

 /*   background:#c5dbea;
    color:#2E4F75;
*/

}


.cl-event dt
{
    font-weight:bold;


}

.unconfirmed
{
    background:#CCC !important;
    color:#666;
}






.cl-event-dl
{

    margin:.1em;

}

.cl-m-event
{

    background:#4C79A2;



    margin:1px;
    font-size:12px;
    /*max-height:150px;*/
    overflow:hidden;


}

.dummyEvent
{
    height:80px;
    margin:4px;
    padding:1px;
}

.continues
{
    margin-right:0;
    margin-left:0;

}

.first
{
    margin-left:4px;

}

.last
{
    margin-right:4px;

}


.cl-time
{
	height:45px;

}


.cl-colevents
{
	cursor:default;
	position:relative;
}

.cl-hline
{
	height:25px;

	
}



#cl-hourlinesContainer
{
    position:relative;
    top:1px;

}

#cl-hourlines
{
    position:absolute;
    width:100%;
}
